/.metadata
/.idea
/Library/Boost
/Library/Otl
/Library/Runtime
/Library/Utility
/Library/Vld
/Library/Database
/Library/Network
/Library/OpenSSL
/Binary/Template
/Binary/Tools/UnitTest.exe
/Binary/Tools/UnitTest.ilk
/Binary/Tools/UnitTest.pdb
/Builds/x64/vc12/darkforest.opensdf
/Builds/x64/vc12/darkforest.sdf
/Builds/x64/vc12/darkforest.v12.suo
/Builds/X64/VC12/IntermediateDir
/Binary/Server/*.ilk
/Binary/Server/*.pdb
/Builds/X64/VC12/ipch
/Builds/X64/VC12/Projects/*.user
/Binary/Server/Game.exe
/Binary/Server/Gate.exe
/Binary/Tools/*.exe
/Binary/Tools/*.pdb
/Builds/X64/VC12/*.sdf
/Builds/X64/VC12/*.suo
/Builds/Windows/VC12/*.sdf
/Builds/Windows/VC12/*.suo
/Builds/Windows/VC12/IntermediateDir
/Builds/Windows/VC12/ipch
/Builds/Windows/VC12/*.opensdf
/Library/zlib
/Binary/Tools/*.ilk
/Builds/Windows/VC12/Projects/*.user
/Binary/Tools/*.html
/Binary/Tools/*.log
/Library/hiredis
/Binary/Server/*.log
/Binary/Server/*.html
/Binary/Server/*.htm
/Binary/Tools/*.exp
/Binary/Tools/*.lib
/Binary/Server/*.exp
/Binary/Server/*.lib
/Binary/Client/.idea
/Document/Modeling/Modeling.v12.suo
/Library/Config/node_modules
/Binary/Server/Auth.exe
